extends layout 
 
block content 
  h1= title 
  if(toShow == null)
    h2 No instance to update
  else
  - let birdid = toShow._id 
  - let bird_name = toShow.bird_name 
  - let type = toShow.type 
  - let national_bird = toShow.national_bird 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{birdid} 
  - let actionid = "/resource/birds/" +birdid 
  form(id='birdForm', action= actionid, method="PUT") 
    div.form-group 
        label.birdsAttr(for='bird_name') Bird name 
        input#bird_name(type='text', name='bird_name', value= bird_name ) 
    div.form-group 
        label.birdsAttr(for='type') Bird type 
        input#type(type='text', name='type', value= type ) 
    div.form-group 
        label.birdsAttr(for='national_bird') National bird 
        input#national_bird(type='text', name='national_bird', value= national_bird ) 
    input(type="submit") 
 
  script. 
    document.forms['birdForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 