extends layout 
 
block content 
  h1= title 
  if(toShow == null)
    h2 No instance to update
  else
  - let birdid = toShow._id 
  - let name = toShow.bird_name 
  - let btype = toShow.type 
  - let nationalbird = toShow.national_bird 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{birdid} 
  - let actionid = "/resource/birds/" + birdid 
  form(id='birdForm', action= actionid, method="PUT") 
    div.form-group 
        label.costumeAttr(for='type') Costume type 
        input#type(type='text', name='type', value= name ) 
    div.form-group 
        label.costumeAttr(for='birdtype') Costume size 
        input#birdtype(type='text', name='birdtype', value= btype ) 
    div.form-group 
        label.costumeAttr(for='nbird') Costume cost 
        input#nbird(type='text', name='nbird', value= nationalbird ) 
    input(type="submit") 
 
  script. 
    document.forms['birdForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 